<header class="site-header">
    <div class="container inner">
        <a class="brand" href="/">브레인통합 심리상담센터</a>
        <nav class="navigation" aria-label="주요 메뉴">
            <a data-nav-link href="/">센터 소개</a>
            <a data-nav-link href="/brain">브레인통합상담</a>
            <a data-nav-link href="/program">심리검사 프로그램</a>
        </nav>
        <button
            class="mobile-toggle"
            type="button"
            aria-label="메뉴 열기"
            aria-expanded="false"
            data-mobile-toggle
        >
            ☰
        </button>
    </div>
</header>


